 body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #003366;
}

.controls {
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

th {
  background-color: #99ef99;
  color: #000;
  font-weight: bold;
}

td {
  background-color: #c6f2ff;
}

tr:last-child td {
  background-color: #ccffcc;
  font-weight: bold;
}
